/*CSS File*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figure, footer, header, hgroup, menu, nav, section, div, a {
    display: block;
    position: relative;
}

body {
    content: '';
    color: #555555;
    background: url("../images/background.png") repeat scroll 0 0 transparent;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
