/*------------------------------Overall site wide Style starts----------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
article, aside, details, figure, footer, header, hgroup, menu, nav, section, div, a {
    display: block;
    outline: 0 none;
}
body, input, select, textarea, button {
    font: 13px/1.4 Helvetica;
    outline: 0 none;
}
body {
    content: '';
    color: #333333;
    background: url("../images/background.png") repeat scroll 0 0 transparent;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.content {
    width: 1150px;
    margin: 0 auto;
}
/*------------------------------Overall site wide Style ends----------------------------*/

/*------------------------------Style for header starts----------------------------*/
#header .header-top {
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    border-bottom: 1px solid #345678;
    height: 38px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#header .header-top .menu {
    float: left;
    height: 38px;
}
#header .header-top ul li {
    float: left;
    height: 38px;
    color: #FFFFFF;
}
#header .header-top ul li a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    outline: 0 none;
}
#header .header-top ul li a:hover,
#header .header-top ul li.active,
#header .header-top .owner ul li:hover {
    background: none repeat scroll 0 0 #345678;
    color: #FFFFFF;
    cursor: pointer;
}
#header .header-top ul .posts ul,
#header .header-top ul .networks ul{
    display: none;
    float: left;
    height: auto;
    position: relative;
    width: 206px;
    background: none repeat scroll 0 0 #222222;
}
#header .header-top ul li.networks {
    width: 90px;
}
#header .header-top ul li.posts {
    width: 63px;
}
#header .header-top ul li.posts:hover ul,
#header .header-top ul li.networks:hover ul {
    display: block !important;
}
#header .header-top .sub-list li {
    border-left: 1px solid #345678;
    border-right: 1px solid #345678;
}
#header .header-top .sub-list li a {
    border-top: 1px solid #876543;
    width: 175px;
}
#header .header-top .sub-list .first a {
    border-top: medium none !important;
}
#header .header-top .sub-list li.last {
    border-bottom: 1px solid #345678;
}
#header .header-top .owner {
    float: right;
    height: 38px;
}
#header .header-middle {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 5px solid #876543;
    height: 200px;
    width: 100%;
}
#header .header-bottom {
    background-color: #058D25;
    background-image: -moz-linear-gradient(top, #299B44, #097B24);
    background-image: -ms-linear-gradient(top, #299B44, #097B24);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#299B44), to(#097B24));
    background-image: -webkit-linear-gradient(top, #299B44, #097B24);
    background-image: -o-linear-gradient(top, #299B44, #097B24);
    background-image: linear-gradient(top, #299B44, #097B24);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299B44', endColorstr='#097B24', GradientType=0);
    height: 40px;
    width: 100%;
}

/*------------------------------Style for header ends----------------------------*/

/*------------------------------Style for section starts----------------------------*/
#section {
    min-height: 500px;
}
/*------------------------------Style for section ends----------------------------*/

/*------------------------------Style for footer starts----------------------------*/
#footer {
    border-top: 5px solid #876543;
    background: none repeat scroll 0 0 #333333;
    color: #CCCCCC;
    height: 300px;
}
/*------------------------------Style for footer ends----------------------------*/
